{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/stylelogin.css' %}" />
  </head>
  <body>
    <form action="login" method="post">
      {% csrf_token %}

      <div class="box">
        <div class="box1"><h1 class="message">Login to your account..</h1></div>
        <br />

        <div class="box1">
          <label for="username"><p class="usernametext">Username</p> </label>
        </div>
        <br />

        <div class="box1">
          <input type="text" id="username" name="username" />
        </div>
        <br />

        <div class="box1">
          <label for="password"><p class="passwordtext">Password</p></label>
        </div>
        <br />

        <div class="box1">
          <input type="password" id="password" name="password" />
        </div>
        <br />

        <div class="box1">
          <input type="submit" class="submit" value="submit" />
        </div>

        <br />
      </div>
    </form>
  </body>
</html>
